:root {
    --black: #333333;
    --white: #DDDDDD;
    --boardsize: 600px;
    --squaresize: 75px;
    --player1color: white;
    --player-1color: black;
}

body {
    background-color: silver;
    display: flex;
}

#menu {
    position: absolute;
    min-width: 300px;
}

#menubox {
    display:none;
    width: 385px;
    height: 495px;
    background-color: lightgray;
    position: relative;
    top: -20px;
    right: -10px;
    z-index: -1;
}

#helpicon {
    background-color: darkgray;
    width: 30px;
    height: 30px;
    border: thick white solid;
    border-radius: 50%;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    user-select: none;

}

#helpicon:hover {
    background-color: #666666;
}

#playarea {

    margin: 0 auto;
}

#board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: beige;
    width: var(--boardsize);
    min-width: var(--boardsize);

}

.square {
    height: var(--squaresize);
    width: var(--squaresize);
    background-color: var(--white);
    /* border: thin solid white; */
}


.square:nth-child(n):nth-child(even):nth-child(-n+8) {
    background-color: var(--black);
}

.square:nth-child(n+9):nth-child(odd):nth-child(-n+16) {
    background-color: var(--black);
}

.square:nth-child(n+17):nth-child(even):nth-child(-n+24) {
    background-color: var(--black);
}

.square:nth-child(n+25):nth-child(odd):nth-child(-n+32) {
    background-color: var(--black);
}

.square:nth-child(n+33):nth-child(even):nth-child(-n+40) {
    background-color: var(--black);
}

.square:nth-child(n+41):nth-child(odd):nth-child(-n+48) {
    background-color: var(--black);
}

.square:nth-child(n+49):nth-child(even):nth-child(-n+56) {
    background-color: var(--black);
}

.square:nth-child(n+57):nth-child(odd):nth-child(-n+64) {
    background-color: var(--black);
}

#P1status {
    width: 200px;
    height: 75px;
    background-color: darkgray;
    position: relative;
    left: 610px;
    top: -600px;

}

#P2status {
    margin: 10px;
    width: 200px;
    height: 75px;
    background-color: darkgray;
    position: relative;
    right: 220px;
    top: -160px;
}

.piece {
    width: 65px;
    height: 65px;
    background-color: white;
    margin: 5px;
    border-radius: 50%;
}

