:root {
    --black: #666666;
    --white: #DDDDDD;
    --boardsize: 600px;
    --squaresize: 75px;
    --player1color: white;
    --player-1color: black;
}

* {
   box-sizing: border-box; 
}

body {
    background-color: silver;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

#menu {
    position: absolute;
    min-width: 300px;
}

#menubox {
    display:none;
    width: 385px;
    height: 495px;
    background-color: lightgray;
    position: relative;
    top: -20px;
    right: -10px;
    z-index: -1;
}

#helpicon {
    background-color: darkgray;
    box-sizing: content-box;
    width: 30px;
    height: 30px;
    border: thick white solid;
    border-radius: 50%;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    user-select: none;

}

#helpicon:hover {
    background-color: #666666;
}

#playarea {

    margin: 0 auto;
}

#board {
    box-sizing: content-box; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--white);
    width: var(--boardsize);
    min-width: var(--boardsize);
    border: 10px solid var(--player-1color);


}

.square {
    height: var(--squaresize);
    width: var(--squaresize);
    /* background-color: var(--white); */
    /* border: thin solid white; */
}


.square:nth-child(n):nth-child(even):nth-child(-n+8) {
    background-color: var(--black);
}

.square:nth-child(n+9):nth-child(odd):nth-child(-n+16) {
    background-color: var(--black);
}

.square:nth-child(n+17):nth-child(even):nth-child(-n+24) {
    background-color: var(--black);
}

.square:nth-child(n+25):nth-child(odd):nth-child(-n+32) {
    background-color: var(--black);
}

.square:nth-child(n+33):nth-child(even):nth-child(-n+40) {
    background-color: var(--black);
}

.square:nth-child(n+41):nth-child(odd):nth-child(-n+48) {
    background-color: var(--black);
}

.square:nth-child(n+49):nth-child(even):nth-child(-n+56) {
    background-color: var(--black);
}

.square:nth-child(n+57):nth-child(odd):nth-child(-n+64) {
    background-color: var(--black);
}

#P1status {
    width: var(--squaresize);
    height: var(--squaresize);
    /* background-color: darkgray; */
    position: relative;
    left: 630px;
    top: -610px;

}

#P0status {
    /* margin: 10px; */
    width: var(--squaresize);
    height: var(--squaresize);
    /* background-color: darkgray; */
    position: relative;
    right: 85px;
    top: -230px;
}

.piece {
    width: 75%;
    height: 75%;
    background-color: white;
    position: relative;
    top: 10%;
    left: 10%;
    border-radius: 50%;

    box-shadow: 2px 2px 2px rgba(5, 5, 5, 0.5);
    color: silver;
    font-size: 200%;
    line-height: 65px;
    text-align: center;
}

/* .selected {
    border: thin solid pink;
} */

.selected .piece {
    box-shadow: 10px 10px 5px rgba(5, 5, 5, 0.5);
    top: -5%;
}

.legal {
    box-shadow: inset 0px 0px 10px 10px #444444;
}

/* .legal:hover {
    border: thick solid green;
    background-color: green;
} */

img {
    width: 90%;
    position: relative;
    top: 5%;
    left: 5%;
}

.king {
    background-image: url("img/checkers_crown.png");
    background-size: contain;
}